---
const {Title, Type, Date, Amount } = Astro.props

const bgColor = () => {
    return Type === "expense" ? "bg-red-100" : "bg-green-200"
} 

const textColor = () => {
    return Type === "expense" ? "text-red-700" : "text-green-700"
}

const getIcon = () => {
    return Type === "income" 
        ? "/assets/icons/arrow-top.svg"
        : "/assets/icons/arrow-down.svg"
}
---


<div class="w-full h-full">
    <div class="flex items-center justify-between ring-1 ring-secondary-text/25 rounded-2xl px-5 py-3 gap-2 sm:gap-5 w-full">
        <div class="flex justify-start items-center gap-5">
            <div class={`size-10 sm:size-10 ${bgColor()} rounded-full flex justify-center items-center`}>
                <img src={getIcon()} alt="Icono de gasto" class="size-7 m-2" />
            </div>
            <div class="flex flex-col">
                <p class="text-text font-medium text-sm">{Title}</p>
                <p class="text-secondary-text text-sm font-extralight">{Date}</p>
            </div>
        </div>
        <h1 class={`text-sm ${textColor()}`}>${Amount}</h1>
    </div>
</div>